.coming-soon h2 {
  color: var(--blue);
  font-size: 1.8rem;
  text-align: center;
}

.coming-soon p {
  font-size: 1.4rem;
  text-align: center;

  width: 28ch;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2.4rem;
}

.app-stores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.app-stores > div {
  display: flex;
  justify-content: center;

  border: 1px solid #e6e6e6;
  border-radius: 0.664rem;
  padding: 1rem;
  width: 14.1rem;
}

.app-stores img {
  width: 7.962rem;
  height: auto;
  object-fit: contain;
}

@media only screen and (min-width: 768px) {
    
    .coming-soon h2 {
        font-size: 3.6rem;
    }

    .coming-soon p {
        font-size: 1.8rem;
        width: 44ch;
    }

    .app-stores > div {
        width: 25.5rem;
        border-radius: 1.2rem;
    }

    .app-stores img {
        width: 13.8rem;
    }
}
