.create-invoice {
  background: var(--blue);
  padding-bottom: 5rem !important;
}

.create-invoice h2 {
  color: #fff;
  margin-top: 2.4rem;
  margin-bottom: 1.8rem;
}

.create-content_bg {
  background: #fff;
  border-radius: 1.2rem;
}

.create-invoice_navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}

.navigation-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 0.8rem; */
}

.navigation-content.inactive span {
  color: #b2b2b2;
}

.navigation-content span {
  font-size: 0.867rem;
}

.navigation-content img {
  width: 0.471rem;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.navigation-content.tick img {
  width: 1.295rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(100% - 1.6rem));
}

.form input,
.form select {
  width: 100%;
  height: 4.51rem;
  border-radius: 0.867rem;
  outline: none;
  border: 1px solid #e6e6e6;
  text-indent: 0.8rem;
  margin-bottom: 1.6rem;
}

.form input::placeholder,
label {
  font-size: 1.214rem;
}

.form-invoice_number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.4rem;
}

.form-invoice_number input {
  width: 50%;
}

.input-grid input {
  width: 100%;
}

.input-grid input::placeholder {
  color: #e6e6e6;
}
.input-field_grid {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.input-field_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-field_grid input,
.input-field_grid select {
  width: 100%;
}

.invoice-details h2 {
  color: #000;
}

.invoice-details_bg {
  background: #fafafa;
  padding: 1.6rem;
}

.invoice-details_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.6rem;
}

.flex-quantity,
.flex-price {
  width: 46%;
}

.flex-amount {
  width: 74%;
}

.delete-icon {
  display: flex;
  align-items: center;
  translate: 0 0.8rem;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.invoice-details_link {
  font-size: 1.214rem;
  color: #54acff;
}

.invoice-summary {
  margin-top: 2.8rem;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.vat-input {
  display: flex;
  align-items: center;
}

.vat-input input,
.summary-item input {
  height: 3.122rem;
  border-radius: 0.347rem;
}

.vat-input input,
.vat-input span,
.summary-item input {
  margin: auto 0;
}

.vat-input {
  width: 25%;
}

#shipping-item {
  width: 28%;
}

.invoice-summary button {
  background: #b2b2b2;
  width: 100%;
  color: #fff;
  font-size: 1.214rem;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .create-invoice {
    padding-bottom: 8.4rem !important;
  }
  .create-content_bg {
    border-radius: 3.2rem;
  }

  .navigation-content,
  .create-invoice_navigation {
    gap: 1rem;
  }

  .navigation-content span {
    font-size: 1.4rem;
  }

  .navigation-content img {
    width: 0.8rem;
  }

  .navigation-content.navigation-content.tick img {
    width: 1.4rem;
  }

  .form-invoice_number input {
    width: 35%;
  }

  .input-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }

  .input-field_grid {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  .input-field_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input-field_wrapper input,
  .input-field_wrapper select {
    max-width: 500px;
  }

  .input-field_wrapper {
    width: 30%;
  }

  .invoice-title {
    width: 40%;
  }

  .flex-description,
  .flex-amount {
    width: 24%;
  }

  .flex-quantity,
  .flex-price {
    max-width: 18%;
  }

  .invoice-summary {
    width: 45%;
    margin-left: auto;
  }

  .vat-input input,
  .summary-item input {
    height: 3.8rem;
    border-radius: 0.4rem;
  }

  .invoice-summary button {
    height: 4.8rem;
    font-size: 1.4rem;
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .flex-description,
  .flex-amount {
    width: 27%;
  }

  .flex-quantity,
  .flex-price {
    max-width: 18%;
  }
}
