header {
  background-color: #f6f8fa;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 13.3rem;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

nav {
  display: none;
  align-items: center;
  gap: 1.6rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.8rem;
}

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
  }

  .nav-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 170px;
    height: 3.6rem;

    font-size: 1.4rem;
    border-radius: 3.2rem;
    border: none;
    color: #0d3b66;
    background-color: #54acff;
  }

  /* .nav-button button {
        border: none;
    } */
}

@media only screen and (min-width: 1024px) {
  .logo img {
    width: 23.2rem;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .nav-list {
    font-size: 1.8rem;
  }

  .nav-button button {
    height: 4.8rem;
  }
}
