@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800);

:root {
  font-family: "Plus Jakarta Sans", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 62.5%;
  line-height: 2;
  font-weight: 600;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: #0D3B66;
  --grey: #FAFAFA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: clamp(
    2.6rem,
    2vw + 1.6rem,
    4.8rem
  ); /* Minimum 1.5rem, preferred 2vw + 1rem, maximum 3rem */
}

button {
  font-size: clamp(1rem, 1.5vw + 0.5rem, 1.4rem);
  transition: .5ms ease-in;
}

button:hover {
  opacity: 0.9;
}

body {
  font-size: 1.6em;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19rem;
  height: 4.8rem;
  border-radius: 3.2rem;
  border: none;
  color: #0d3b66;
  background-color: #54acff;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto ;
}

.c-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* text-align: center; */
  padding: 1.6rem;
}

@media only screen and (min-width: 786px) {
  .c-container {
    padding: 2.4rem 4.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .c-container {
    padding: 3.2rem 6.4rem;
  }
}
